<div class="container">
    <h1 class="display-4 d-none d-sm-block">
        Event Management
    </h1>
    <div class="table-responsive">
            <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td>ID</td>  
                      <td>Name</td>
                      <td>Severity</td>
                      <td>To Hospital:</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let injured of injureds; let i of index" >
                        <td>{{injured.id}}</td>
                        <td>{{injured.name}}</td>
                        <td>{{injured.severity}}</td>
                        <td>
                            <form *ngIf= "injured.toHospital ==='Unknown'; else view" (submit)="SetToHospital(injured.id)" class="form-horizontal" role="form">
                                <div class="form-group">
                                  <div class="row">
                                      <div class="col-sm">
                                        <div class="ui-select">
                                          <select [(ngModel)]="model.toHospital"  name="toHospital" >
                                            <option  *ngFor="let hospital of hospitals" >{{hospital.name}}</option> 
                                          </select>
                                        </div>
                                      </div>

                                      <div class="col-sm">
                                        <input type="submit" class="btn btn-danger" value="Send">
                                      </div>
                                      
                                    </div>
                                </div>
                            </form>
                            <ng-template #view>
                              <p>{{injured.toHospital}}</p>
                            </ng-template>
                        </td>
                    </tr>
                  </tbody>
            </table>
    </div>
</div>