<div class="container">
    <h1>Edit Hospital</h1>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">    
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Hospital Details</h3>


        <form (submit)="editHospital()" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="name" class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" placeholder="Hospital name" required [(ngModel)]="model.name" name="name">
            </div>
          </div>
            
          <div class="form-group">
            <label for="phone" class="col-lg-3 control-label">Phone Number</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" placeholder="054..." [(ngModel)]="model.phone" name="phone" >
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="col-lg-3 control-label">Location</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" placeholder="X" [(ngModel)]="model.location" name="location" >
            </div>
          </div>

          <div class="form-group">
            <label for="password"  class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" placeholder="******" [(ngModel)]="model.password" name="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>