<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form">
                                <div class="col-sm">
                                    <div class="ui-select">
                                      <select>
                                        <option  *ngFor="let emsevent of emsevents" >{{emsevent.id}}</option> 
                                      </select>
                                    </div>
                                  </div>
                                
                                <button routerLink="/smartphone/{{emsevent?.id}}" type="submit" class="btn btn-success btn-lg">Manage Event</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->