<div class="container">
    <h2 class="sub-header mt-5">Injured</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>ID</td>  
          <td>Name</td>
          <td>Severity</td>
          <td>Event Id</td>
          <td>Time</td>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/injured-report/{{injured.QrId}}" *ngFor="let injured of injureds">
          <td>{{injured.id}}</td>
          <td>{{injured.name}}</td>
          <td>{{injured.severity}}</td>
          <td>{{injured.eventId}}</td>
          <td>{{injured.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</div>
