<div class="container">
    <h4>Injureds</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>ID</td>  
          <td>Name</td>
          <td>Severity</td>
          <td>Event Id</td>
          <td>Time</td>
          <td>In hospitsl</td>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/injured-report/{{injured.id}}" *ngFor="let injured of injureds">
          <td>{{injured.id}}</td>
          <td>{{injured.name}}</td>
          <td>{{injured.severity}}</td>
          <td>{{injured.eventId}}</td>
          <td>{{injured.time}}</td>
          <td>{{injured.InHospital}}</td>
        </tr>
      </tbody>
    </table>
</div>