<h2 class="sub-header mt-5">Hospitals</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>  
          <th>Name</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of hospitals">
          <td>{{hospital.id}}</td>
          <td>{{hospital.name}}</td>
          <!-- <td routerLink="/user-profile/{{activeUser.id}}">{{activeUser.name}}</td> -->
          <td>{{hospital.location}}</td>
          <td>
            <!-- <button type="button" class="btn btn-danger" (click)="SetInactiveUser(activeUser.id)">InActive</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<button [routerLink]="['/add-hospital']" type="button" class="btn btn-primary">Add Hospital</button>