<div class="container">
    <h4>Events</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>ID</td>  
          <td>Description</td>
          <td>Create By User</td>
          <td>Time</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emsevent of emsevents">
          <td>{{emsevent.id}}</td>
          <td>{{emsevent.description}}</td>
          <td>{{emsevent.createByUserID}}</td>
          <td>{{emsevent.time}}</td>
        </tr>
      </tbody>
    </table>