<div class="container">
    <h2 class="sub-header mt-5">Events</h2>
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>ID</td>  
          <td>Description</td>
          <td>Create By User</td>
          <td>Location</td>
          <td>Time</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emsevent of emsevents" routerLink="/event-details/{{emsevent.id}}">
          <td>{{emsevent.id}}</td>
          <td>{{emsevent.EventDescription}}</td>
          <td>{{emsevent.createByUserID}}</td>
          <td>{{emsevent.location}}</td>
          <td>{{emsevent.EventTime| date:'yyyy-MM-dd HH:mm a z':'+0300'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>